<!-- pages/templates/home.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>Shoe Store</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="main">
            <div class="logo">
                <img src="images/skyspace_logo.png">
            </div>
            <div class="menu">
                <img src="images/menu.png">
            </div>
            <div class="magnifier">
                <img src="images/magnifier.png">
            </div>
            <div class="shoes">
                <img src="images/Nike_React_Miller.png">
            </div>
            <div class="left_arrow">
                <img src="images/left_arrow.png">
            </div>
            <div class="right_arrow">
                <img src="images/right_arrow.png">
            </div>
            <div class="information">
                <h1>Nike React Miller</h1>
                <p1>
                    Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod tempor incididunt ut labor et dolore magna aliqua
                </p1>
                <br>
                <br>
                <p2>
                    $95
                </p2>
                <br>
                <br>
                <a class="button" href="">Add to Cart</a>
            </div>
            <div class="order">
                <p>
                    1/10
                </p>
            </div>
        </div>
    </body>
</html>
