<!-- pages/templates/home.html -->
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Shoe Store</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="main">
            <div class="logo">
                <img src="{% static 'skyspace_logo.png' %}" alt="Logo">
            </div>
            <div class="menu">
                <img src="{% static 'menu.png' %}" alt="Menu">
            </div>
            <div class="magnifier">
                <img src="{% static 'magnifier.png' %}" alt="Magnifier">
            </div>
            <div class="shoes">
                <img src="{% static 'Nike_React_Miller.png' %}" alt="Shoes">
            </div>
            <div class="left_arrow">
                <img src="{% static 'left_arrow.png' %}" alt="Left Arrow">
            </div>
            <div class="right_arrow">
                <img src="{% static 'right_arrow.png' %}" alt="Left Arrow">
            </div>
            <div class="information">
                <h1>Nike React Miller</h1>
                <p1>
                    Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod tempor incididunt ut labor et dolore magna aliqua
                </p1>
                <br>
                <br>
                <p2>
                    $95
                </p2>
                <br>
                <br>
                <a class="button" href="">Add to Cart</a>
            </div>
            <div class="order">
                <p>
                    1/10
                </p>
            </div>
        </div>
    </body>
</html>
